<link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

<div class= "header">
  <h1>
    <img src="https://drive.google.com/uc?id=1I9soqyAVIJce0UdpjjmOwxG58PZFazyk" width="auto" height="60" alt="">
  </h1>
  <input type="checkbox" id="nav" />
  <label for="nav" class="material-icons">dehaze</label>
  <nav class="circle">
    <ul>
      <li><a href="https://codepen.io/tabrisxing/debug/NWWebgM">Home</a></li>
      <li><a 
      <li><a 
      <li><a href="https://codepen.io/tabrisxing/debug/ExagyjE">About us</a></li>
    </ul>
  </nav>
  
</div>

<div class="about_us">
  
  <div class="mission">
   
  </div>
  
  
  <img src="https://www.teknojelly.com/math/.jpg" width = 700 alt="">
  <span>About us</span>
  <p>
   A Question Answering System Will Help You Find Information Efficiently. Generally Speaking, We Use Search Engines To Search For Relevant Documents When We Look For Some Information On The Web. However, Because They Show You Documents, You Must Read The Documents And Decide Whether They Contain The Information You Need. It’s A Bother. Thus, Commercial Search Engines Have A Question Answering Feature So That You Can Find Information Efficiently On Our Website Generating Question And Answers From Text And Ppt You Get Can All About Us Related Information Also, We Focus On Many Other Categories And We Hope You Like Also, The Content Of Other Categories That Are Maintained On Our Website. Hence, A Question Answering System Will Help You Find Information Efficiently.

  </p>
</div>

<div class="footer">
  <div class="address">
  </div> 
  </div>
  <div class="email">
    <!-- TODO code rest of text -->
    <span class="email">Send your queries at : cb21@gmail.com</span>
   
  </div>
  <div class="copyright">
    <span>© cb21🤖</span>
  </div>
</div>
